.footer {
    /* position: fixed; */
    display: flex;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--clr-black);
    color: var(--clr-grey-text);
}

.text {
    font-size: var(--size-xs);
    transition-duration: 250ms;
    transition-timing-function: ease;
}
.text:hover {
    cursor: pointer;
    color: var(--clr-yellow);
    text-decoration: underline;
}


@media (min-width: 500px) {
    
}
@media (min-width: 950px) {
    .text {
        font-size: var(--size-sm);
    }
}
@media (min-width: 1500px) {
    
}